@model Vivienda.DAL.Tbl_Condominio

    <div class="card bg-light mb-3">
        <div class="card-header">@ViewBag.Title</div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="txtnombre">Nombre:</label>
                        <input type="text" maxlength="50" class="form-control valida" id="txtnombre" value="@Model.Condominio">
                        <div class="invalid-feedback">Dato obligatorio</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="txtclave">Clave:</label>
                        <input type="text" maxlength="5" class="form-control valida" id="txtclave" value="@Model.Clave">
                        <div class="invalid-feedback">Dato obligatorio</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="txtcolonia">Colonia:</label>
                        <input type="text" maxlength="50" class="form-control valida" id="txtcolonia" value="@Model.Colonia">
                        <div class="invalid-feedback">Dato obligatorio</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="txtmun">Municipio:</label>
                        <input type="text" maxlength="50" class="form-control valida" id="txtmun" value="@Model.Municipio">
                        <div class="invalid-feedback">Dato obligatorio</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="txtcp">Código Postal:</label>
                        <input type="number" maxlength="5" class="form-control valida" id="txtcp" value="@Model.CP">
                        <div class="invalid-feedback">Dato obligatorio</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="ddlestado">Estado:</label>
                        <select class="form-control" id="ddlestado">
                        </select>
                    </div>
                </div>
                @if (ViewBag.Tipo == "true")
                {
                    <div class="col-4">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="chEstatus">
                                <label class="custom-control-label" for="chEstatus">Estatus</label>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-6 float-left">
                    @if (ViewBag.Tipo == "true")
                    {
                <button id="btneditar" type="button" class="btn btn-success"><i class="fa fa-save"></i>  Actualizar</button>}
                    else
                    {
                    <button id="btnguardar" type="button" class="btn btn-success"><i class="fa fa-save"></i>  Guardar</button>}
                </div>
                <div class="col-6 float-right">
                    <a href="@Url.Action("Index")"  class="btn btn-danger right"><i class="fa fa-close"></i>  Cancelar</a>
                </div>
            </div>
        </div>
    </div>
@section scripts{
    <script>
        $(function () {
            if (@ViewBag.Tipo) {
                //$('#ddlestado').val("@Model.Id_Estado");
                GetInfoDLL("@Url.Action("Select","Estados")", 'ddlestado', false, "@Model.Id_Estado")
                $('#chEstatus').prop('checked', @Model.Activo.Value.ToString().ToLower())
            }
            else {
                GetInfoDLL("@Url.Action("Select","Estados")", 'ddlestado', false, '-1')
            }
        });
        function FncGetModel() {
            var modelo = new Object();
            modelo.Condominio = $('#txtnombre').val();
            modelo.Clave = $('#txtclave').val();
            modelo.Colonia = $('#txtcolonia').val();
            modelo.Municipio = $('#txtmun').val();
            modelo.CP = $('#txtcp').val();
            modelo.Id_Estado = $('#ddlestado').val();
            if (@ViewBag.Tipo) {
                modelo.Activo = $('#chEstatus').is(":checked");
                modelo.Id_Condominio = @Model.Id_Condominio
            }
            return modelo;
        }
        function FncActualizar() {
            if (FncDatosRequeridos()) return;
            if ($('#ddlestado').val() === "-1")
                return FncMensaje('Mensaje Vivienda', 'Es necesario agregar un estado', false);
            FncAjax(FncGetModel(), '@Url.Action("Update")', "PUT", FncRespuesta);
        }
        function FncGuardar() {
            if (FncDatosRequeridos()) return;
            if ($('#ddlestado').val() === "-1")
                return FncMensaje('Mensaje Vivienda', 'Es necesario agregar un estado', false);
            FncAjax(FncGetModel(), '@Url.Action("Create")', "POST", FncRespuesta);
        }
        function FncRespuesta(data) {
            FncMensaje('Mensaje Vivienda', data.Mensaje, data.Resultado);
        }
        $('#btnguardar').click(function () {
            FncGuardar();
        });
        $('#btneditar').click(function () {
            FncActualizar();
        });
    </script>
    }